[2012-06-19 07:06] ghost opened #1 "Incorrect line number for errors when using imports"
When there is an error in in a LESS file that imports other files, the line number given in the error message is not correct. It seems to correspond to the number the line would be if all the imports were concatenated inline before it.

Eg I put an error on line 7 of a file, and have imported another 53 line file. The error message tells me that it is on line 59 (I'm assuming something is replacin

[2012-06-19 20:03] acdvorak commented on #1
This is due to how [lesscss-java](https://github.com/marceloverdijk/lesscss-java), the official LESS compiler for Java (which this plugin uses), handles imports: it merges them all into a single string and compiles the result.  See [LessSource.java, line 147](https://github.com/marceloverdijk/lesscss-java/blob/master/src/main/java/org/lesscss/LessSource.java#L147), which gets fed into [LessCompile

[2012-06-21 16:01] acdvorak commented on #1
Created an [issue for this bug](https://github.com/marceloverdijk/lesscss-java/issues/6) on the `lesscss-java` project's issue tracker.

[2012-10-26 01:48] acdvorak opened #2 "Add "Compile to CSS" Action to context menu for .less files"

[2012-10-26 01:49] acdvorak opened #3 "CSS output directories don't get saved when modified in preference pane"
They must be deleted and re-added

[2012-10-26 01:50] acdvorak opened #4 "Hide previous error notifications for the same file when compilation succeeds"
If an error notification pops up and the user doesn't dismiss it, but instead immediately corrects the error and saves the file, the "Success" balloon will appear but the error notification doesn't go away.

[2012-10-26 01:59] acdvorak opened #5 "Make CSS output directories more user friendly in preference pane"

[2012-10-26 02:10] acdvorak opened #6 "Optional .less extension support for @imports"
Support both `@import "lib"` and `@import "lib.less"`

[2012-10-26 02:17] acdvorak opened #7 "Updated README.md to reflect new compiler library"
Also update Known Issues, TODOs, etc.

[2012-10-26 02:20] acdvorak opened #8 "Add screenshots to JetBrains plugin repository website"

[2012-10-26 17:30] acdvorak opened #9 "Respect //simpless:!minify setting per-file"

[2012-10-26 17:35] acdvorak opened #10 "Move, Copy, and Delete support"

[2012-10-26 18:29] #1 closed, assigned to acdvorak

[2012-10-26 18:29] #3 closed, assigned to acdvorak

[2012-10-27 02:58] #2 closed, assigned to acdvorak

[2012-10-27 04:46] #5 closed, assigned to acdvorak

[2012-10-27 05:36] #7 closed, assigned to acdvorak

[2012-10-29 13:14] #8 closed, assigned to acdvorak

[2012-10-29 13:17] acdvorak opened #11 "Add include / exclude pattern support (regex and/or glob)"
Match against path or filename

[2012-10-30 03:38] ivankolev opened #12 "LESS CSS compiler error"
IDEA spits this:
"file.less: java.io.IOException: No such file C:\Users\myusername\IdeaProjects\myproject\less\file.less"
 when trying to use the plugin. Maybe it's related to the patch Jetbrains pushed today, 11.1.4
I don't know what other info is needed, please advice

[2012-10-30 14:48] mikenereson opened #13 "java.io.IOException"
Updated yesterday to `2.1.1`

No .less will compile. All files give `java.io.IOException`

Downgraded to `2.1.0`, still getting this. No stracktrace presented anywhere.

[code]

These files do exist... Checked windows file permissions. Also tried moving files and creating new files. All give the same error.

[2012-10-30 14:54] mikenereson commented on #13
Reverted to `1.9.0`. This works fine. So the bug was introduced after `2012-06-13`

[2012-10-30 16:34] acdvorak commented on #12
Duplicate of #13 - merging issues

[2012-10-30 16:34] #12 closed, assigned to nobody

[2012-10-30 16:37] acdvorak commented on #13
@ivankolev reported the same problem in #12.  This might be a platform-specific issue (both users are running Windows, whereas I use a Mac).  I'll install IntelliJ IDEA on my Windows box and look into it.

Sorry for the inconvenience, and thanks for reporting this issue!

[2012-10-30 16:50] mikenereson commented on #13
Apologies for duplicating issues. Thanks for writing and maintaining this plugin.

[2012-10-31 04:50] #13 closed, assigned to acdvorak

[2012-10-31 05:10] acdvorak commented on #13
@asual's `LessEngine.compile(File input, boolean compress)` passes `file.getAbsolutePath()` into `StreamResourceLoader.load(String path, String charset)`, which attempts to determine if the path contains a "file:" URI scheme using a regular expression that also matches Windows-style paths (e.g., "C:\some\dir"):

[code]

The outer `if` statement returns `true`, but the inner one returns `false` bec

[2012-10-31 12:59] mikenereson commented on #13
Works. Cheers.

[2012-10-31 13:25] ivankolev commented on #13
Good job! Thanks!

2012/10/31 mikenereson notifications@github.com

[2012-11-02 15:15] denisborovikov commented on #11
Must have feature. My projects have only the one file that needed to be compiled. All other files in this directory are included in the previous one.

[2012-11-02 18:08] acdvorak commented on #10
Added in version 2.3.0

[2012-11-02 18:08] #10 closed, assigned to acdvorak

[2012-11-02 18:14] acdvorak commented on #11
@Metaller: Do the other files in your directory _only_ contain mixins and variables (i.e., stuff that won't produce any output when compiled)?  Or do they actually have rule sets that produce output if you compile the files directly?

I suspect the latter is true, but I want to make sure I understand your use case.

[2012-11-02 19:23] denisborovikov commented on #11
@acdvorak twitter bootstrap is a good example of such project. Some files contains mxins and variables, others - less rules. Main file includes all of them via @import and it is only the one file that must be compiled.

Here is an example of main file (bootsrap.less):

[code]

[2012-11-02 19:57] acdvorak commented on #11
Got it.  I'll make this issue my top priority for the next version.  Thanks!

[2012-11-02 20:25] acdvorak opened #14 "Commit changes in all modified LESS files to disk before compiling"
Many users are seeing "Name Error" exceptions when compiling because not all LESS files have been saved to disk.

[2012-11-03 08:34] denisborovikov commented on #11
Thank you! Your plugin is a great addition to Webstorm.

[2012-11-03 12:22] intmainreturn0 opened #15 "How to compile/install the plugin?"
Hello.
I have been using PhpStorm for a long time, but I have never installed new plugins (like this) from sources. When I tried to do it, I felt so unlucky :)
I have downloaded IDEA 11.1.4 community edition, there I click "File -> Open project", and... it is unable to select iml-files (only folders), OK button in popup "open project" is permanently not activated...

[2012-11-03 12:25] #15 closed, assigned to nobody

[2012-11-03 12:49] intmainreturn0 opened #16 "Unable to add css output directory (PhpStorm 5.0.4)"
Hello.
I have just installed a plugin from here: http://plugins.intellij.net/plugin?pr=&pluginId=7059 (downloaded, then in plugin manager "Install plugin from disk", selected "lib/lessc-plugin.jar", installed successfully).
Then I go to project settings, section "LESS compiler", add new item, select LESS directory. Then I click "+" in block "CSS Output directory", but nothing happens: just no reac

[2012-11-04 20:34] ghost opened #17 "Problems with spaces in path name"
When using a linux system if you have spaces in a path name eg /home/pete/PhpstormProjects/project name/lessfiles-devonly/style.less

Then you get a compile error

LESS CSS Compiler Error: style.less: java.io.IOException: No such file file:/home/pete/PhpstormProjects/project name/lessfiles-devonly/style.less

remove the space in project name and use projectName then all is ok.

[2012-11-05 11:18] EvertVd opened #18 "Barrage of error toasters"
I am testing this plugin in phpStorm 5.0.4 and it works as described apart from the ctrl-s instruction. For some reason this plugin starts compiling whenever you type even a single character. So while typing you get a constant stream of error-toaster.

[2012-11-05 21:38] zergussino commented on #16
Confirming. Followed same installation procedure. Same problem - cannot assign CSS output directories.

PhpStorm 5.0.2, Build PS-121.322, OpenJDK 1.7.0_09 64-bit, openSUSE 12.2 (x86_64)

[2012-11-06 04:18] #17 closed, assigned to acdvorak

[2012-11-06 04:35] acdvorak commented on #17
Pete,

Could you please update the plugin in your IDE and let me know if the issue is resolved?  I tested the fix in Mac OS X (10.6 and 10.7), so it _"should"_ work in Linux as well, but I want to verify that it's working for you before I close the issue permanently.

Thanks!

[2012-11-06 04:39] acdvorak commented on #15
What was the problem, and how did you solve it?  Someone else might run into the same issue, so it may help others if we document it here.  Thanks!

[2012-11-06 05:40] #14 closed, assigned to acdvorak

[2012-11-06 05:48] acdvorak commented on #16
Could you possibly post your IDE log files?  See [Collecting PhpStorm/WebStorm Logs](http://devnet.jetbrains.net/docs/DOC-1202) for instructions.

[2012-11-06 05:50] acdvorak commented on #18
Could you possibly post your IDE log files?  See [Collecting PhpStorm/WebStorm Logs](http://devnet.jetbrains.net/docs/DOC-1202) for instructions.

What OS are you using?

[2012-11-06 05:54] acdvorak opened #19 "Disable "Compile to CSS" action if no CSS output directories are specified"
Better yet, leave the action enabled and alert the user when they try to run it.

[2012-11-06 09:06] intmainreturn0 commented on #15
Well, I just stopped trying to compile it from sources, went to http://plugins.intellij.net/plugin/?idea&pluginId=7059, downloaded and installed :)

[2012-11-06 09:22] intmainreturn0 commented on #16
Hello. During analyzing IDEa.log, I found the following:

2012-11-06 13:12:33,698 [  23973]  ERROR - com.intellij.ide.IdeEventQueue - Error during dispatching of java.awt.event.MouseEvent[MOUSE_RELEASED,(1182,211),absolute(1522,300),button=1,modifiers=Button1,clickCount=1] on dialog0
java.lang.NoClassDefFoundError: org/apache/commons/lang3/StringUtils
    at net.andydvorak.intellij.lessc.ui.CssCon

[2012-11-06 09:52] ghost commented on #17
Yep works fine now.

[2012-11-06 20:32] acdvorak commented on #17
Great!  Glad to hear it.  Thanks for taking the time to report this issue!

[2012-11-07 12:58] EvertVd commented on #18
Windows 8. I can't seem to find an option to include a file? So I put it in my dropbox: https://dl.dropbox.com/u/94095197/idea.log  Hope that is the log you refer to?

[2012-11-08 23:20] nstawski commented on #11
+1 this request. I am working with Bootstrap files now, and when I edit the included .less files, this plugin tries to compile them (which results in an error), and for the main file I need to run it manually, cause it never gets changed.

It would be great that in addition to the folder for less files you could specify the exact files that should be compiled, so they are recompiled every time any

[2012-11-12 23:44] acdvorak opened #20 "Move "Reset prompts" button outside of CssConfigurableForm"
Pressing the "Reset prompts" button in one LESS profile does not disable the same button in other LESS profiles.  There should only be one button for the entire `LessProfilesPanel`.

[2012-11-12 23:59] acdvorak opened #21 "Add option to toggle absolute vs. canonical path resolution"

[2012-11-13 02:04] acdvorak commented on #16
Wow, I can't believe I didn't catch this earlier:

You need to choose the `.zip` file after selecting "Install plugin from disk", not the `.jar`.  Don't unzip the archive.

The good news is, it's a super easy fix :-)

I'm going to close this issue.  Please let me know if the problem persists for you and I'll be happy to reopen it.

Thanks!

[2012-11-13 02:04] #16 closed, assigned to nobody

[2012-11-13 02:26] acdvorak commented on #11
Feature is now available in [version 2.4.0](http://plugins.jetbrains.com/plugin?pr=&pluginId=7059).  (I haven't checked in the source code to GitHub yet.)  Give it a try and let me know if it works for you.  Thanks!

[2012-11-13 03:17] acdvorak commented on #18
I'm not able to reproduce the issue you're seeing...  Can you try updating the plugin to [version 2.4.0](http://plugins.intellij.net/plugin?pr=&pluginId=7059)?  If you're still having issues, send me the log file again and I'll have another look.  I have a Windows 8 developer preview sitting around that I can test in if necessary.

[2012-11-13 05:31] acdvorak opened #22 "Rename notification groups"
See [Notifier.java](https://github.com/acdvorak/intellij-lessc-plugin/blob/master/lessc-plugin/src/net/andydvorak/intellij/lessc/notification/Notifier.java)

Listed under Settings > Notifications

[2012-11-13 05:32] acdvorak opened #23 "Thread safety when saving / compiling"
Use concurrent event queue to manage file change events and compile jobs.

[2012-11-13 05:36] acdvorak opened #24 "Build dependency tree before compiling"
This will allow the plugin to display progress updates when two or more files are being compiled, and will help avoid duplicate compilations.

Wait for all save / compile request events to finish before actually compiling (see #23).

[2012-11-13 07:17] denisborovikov commented on #11
Thank you, Andrew! It works like a charm.

Unfortunately, I started using sass while waiting for full native less support in tne webstorm. I found some cool features in sass that have no in less and made a final decision for myself.

Good luck for you and your work, many people waited for this plugin.

[2012-11-13 11:02] EvertVd commented on #18
Using 2.4.0. this problem is gone. However, now when I change a less file (even if it is just 1 character) I get 3 messages in a row in my console saying: xxxx.less was modified but didn't change any css file.
I work with one main less file (which needs to be compiled) and 5 child-files (which are imported in the main file but do not need to be compiled separately).
When I change a child file I ge

[2012-11-13 11:38] EvertVd commented on #18
Additional info: I found the following after some more "testing"

1) main.less file gets compiled when it has changed unless:
2) main.less file triggers a "was modified but didn't change css" when the changes consist only of spaces. So when a change in this file contains spaces and non-spaces it triggers this message as well as a normal compile, which is a bit confusing, but workable.
3) changes i

[2012-11-13 12:15] acdvorak commented on #11
No worries Denis!  I'm just glad to hear you found a solution that works for you -- that's what really matters.  Thanks for the feedback and happy coding!

[2012-11-13 12:15] #11 closed, assigned to acdvorak

[2012-11-13 13:30] acdvorak commented on #18
Weird!  Well I'm glad to hear that the original issue has at least been resolved.

##### Just to clarify, when you say:

Do you mean:

A) Typing a single character _**without**_ manually saving or switching to another application triggers a compile, or
B) Compiling **only** happens when you _**manually**_ save all files or switch to another application?

##### As for 2):

This is because adding/re

[2012-11-13 14:04] EvertVd commented on #18
A. It happens about a second after making a change, no manual saving or switching.

I am making actual changes, for example changing 12px into 14px

My main.less file consists of some variable definitions (which I have set at the start of the project and never change afterwards) and imports like so:
@import 'forms.less';
@import 'layout.less';
etc.

In my child files I do not define variables. The

[2012-11-13 17:08] nstawski commented on #11
I am using it, and 'Include' works nice, thank you!

What would be even more useful in terms of using this plugin with Bootstrap, is compiling the main file every time any file in the directory has been changed and saved.

For example, I have two main files in the directory that have to be compiled: bootstrap.less and responsive.less.
All others are includes. I don't usually change the main file,

[2012-11-13 17:43] denisborovikov commented on #11
I tested a new version of the plugin with bootstrap and all worked good for me. I set less source directory, css output directory and bootstrap.less in the include files by path. When any of the included files is changed, plugin recompiles bootstrap.css and I've got a message in the log like "LESS CSS Compiler: button-groups.less was modified, but didn't change any CSS files (ignore)" with the nam

[2012-11-13 17:53] nstawski commented on #11
I get the same message "CSS Compiler: navs.less was modified, but didn't change any CSS files (ignore)", but the main file ("bootstrap.less") isn't getting recompiled when I save changed navs.less.

I have set less source directory, css destination, and bootstrap.less in the 'Include files by path'.

[2012-11-13 18:09] nstawski commented on #11
No matter what I try, my main file doesn't compile unless I go and change something in it explicitly or say 'Compile to CSS'.
I tried reinstalling plugin, changing configuration, etc. Nothing works.

Can somebody post a screenshot of their working configuration? Maybe I am not entering something right in 'Include files by path'?

[2012-11-13 18:23] nstawski commented on #11
OK, I found what is happening.

In the main file, all @includes are written without ".less". When I add the file extension, everything works.

[2012-11-13 22:22] nstawski commented on #6
While it's not yet working, you could just add a line to ReadMe that you should use '.less' with your @import names.

[2012-11-14 01:36] acdvorak commented on #11
Whew!  Glad to hear you figured it out and it wasn't a bug on my part :-p

@nstawski: I'll add a note in the readme mentioning that `@import` filenames w/o extensions are not yet supported as per [your suggestion](https://github.com/acdvorak/intellij-lessc-plugin/issues/6#issuecomment-10346560).  Thanks!

[2012-11-14 01:36] acdvorak commented on #6
You got it.  Great suggestion.  Thanks!

Where would you recommend I put it in the readme so that it's easy to spot but not too obtrusive?

[2012-11-14 01:43] acdvorak commented on #23
This has been mostly fixed in v2.5.0.  `LessManager.compileWithProgress()` is now synchronized, so compile jobs will not longer run concurrently.

However, it is still possible for users to modify and save LESS files in the middle of a large compile, which will yield unpredictable results and potentially leave some CSS files updated but not others.

There's not much we can do about this, since the

[2012-11-14 01:44] acdvorak commented on #21
IntelliJ always uses canonical paths, so this feature is not necessary.

[2012-11-14 01:44] #21 closed, assigned to acdvorak

[2012-11-14 02:02] acdvorak opened #25 "Multiple notifications for the same file"
Because all other LESS files are saved before compiling, it's possible to trigger a second compile job from the first.  This may result in 2 identical notifications being shown to the user instead of 1.

[2012-11-14 02:32] acdvorak opened #26 "VFS refresh doesn't work when CSS files don't already exist"
The Project tree view doesn't refresh after the first compile unless the CSS files already exist.  Switching to another app or manually synchronizing the parent CSS dir properly shows the compiled CSS files.

[2012-11-14 02:41] acdvorak commented on #6
Available in v2.5.1.  Turns out it was super easy to do.  Woot woot!

[2012-11-14 03:18] #6 closed, assigned to acdvorak

[2012-11-14 03:18] #24 closed, assigned to acdvorak

[2012-11-14 03:34] #9 closed, assigned to acdvorak

[2012-11-14 04:31] #19 closed, assigned to acdvorak

[2012-11-14 07:09] acdvorak commented on #23
Workaround: Enqueue compile jobs when the user saves in the middle of another compilation, and run the queued jobs after the first compilation finishes.

[2012-11-14 07:22] #23 closed, assigned to acdvorak

[2012-11-14 07:35] acdvorak opened #27 "Clean up Notifier logging"
Successful compiles log twice, but they should really only log one entry to the Event Log tool window.  The code also needs to be cleaned up.

[2012-11-14 07:36] #22 closed, assigned to acdvorak

[2012-11-14 07:52] #20 closed, assigned to acdvorak

[2012-11-14 08:55] #26 closed, assigned to acdvorak

[2012-11-14 09:01] acdvorak commented on #18
Try updating the plugin to [version 2.5.5](http://plugins.jetbrains.com/plugin?pr=&pluginId=7059) and see if that makes any difference.  I put in a number of threading / concurrency fixes that should help minimize duplicate consecutive compiles within a short span of time (1/4 second of each other).

Do you have "Save files automatically if application is idle" set to 1 second, by any chance?

[2012-11-14 09:29] EvertVd commented on #18
Problem persists in 2.5.5.
I have that idle setting set to 480 seconds.

[2012-11-14 15:29] acdvorak commented on #18
Weird!  I'll try running the plugin in Windows 8 and see if I can reproduce the issue.

Which build of WIndows 8 are you using?

[2012-11-14 15:45] acdvorak commented on #18
Also: Could you possibly try installing [IntelliJ IDEA](http://www.jetbrains.com/idea/download/index.html) (Community or Ultimate) and see if the problem happens in that IDE as well, without modifying any of the default settings?

I'm trying to narrow down the root cause of this issue and I'm wondering if it might be OS- or config-related.

[2012-11-14 18:31] #27 closed, assigned to acdvorak

[2012-11-14 19:30] nstawski commented on #27
Offtopic question — do you by any chance plan to make a similar plugin for jade? (http://jade-lang.com/)

[2012-11-14 19:43] #25 closed, assigned to acdvorak

[2012-11-14 20:12] acdvorak opened #28 "Use properties files for UI messages and i18n"

[2012-11-14 22:30] EvertVd commented on #18
I am running the evaluation copy build 8400 of windows 8 (64 bit). I have time to install intelliJ tomorrow and will report back after that.

[2012-11-15 02:26] #4 closed, assigned to acdvorak

[2012-11-15 14:47] EvertVd commented on #18
I do not have the problem in IntelliJ.

[2012-11-15 14:47] #28 closed, assigned to acdvorak

[2012-11-15 14:53] acdvorak opened #29 "Move/copy/delete detection fails the first time"
Fails when IDE first opens, as well as after moving an imported LESS file (which changes the `@import` path in dependent files but doesn't save them)

[2012-11-15 14:57] acdvorak opened #30 "Improve threading speed by reducing unnecessary synchronizations and deadlocks"

[2012-11-15 19:18] acdvorak opened #31 "Make plugin generic and language-agnostic"
Separate out the core logic and behavior and move language-specific code into pluggable modules.  This will allow additional languages to take advantage of this plugin's architecture: e.g., [Jade](http://jade-lang.com/) and [SASS](http://sass-lang.com/).

[2012-11-15 19:24] acdvorak commented on #31
@nstawski [commented](https://github.com/acdvorak/intellij-lessc-plugin/issues/27#issuecomment-10380124):

I wasn't even aware that you _could_ pre-compile Jade templates.  I'll have to look into that for client-side templating as a possible alternative to [Handlebars](http://handlebarsjs.com/).

To be honest, I only wrote this plugin to scratch a personal itch.  Back in June 2012 there weren't ma

[2012-11-15 19:26] acdvorak commented on #27
@nstawski: I created issue #31 to address your question

[2012-11-15 20:00] acdvorak opened #32 "Process change events in batch"
Refactor `LessCompileJob` to allow multiple `sourceLessFile`s and maintain a separate dependency tree for each.

Use `BulkFileListener` to process VFS changes in batch:

See http://confluence.jetbrains.net/display/IDEADEV/IntelliJ+IDEA+Virtual+File+System

[2012-11-15 22:34] nstawski commented on #31
I can tell you how I use Jade. I started using it with Node.js, but now it's a kind of separate, because, as LESS, it can be compiled simple enough.

The simplest thing you can do is just run "jade < my.jade > my.html", and you'll get an html page out of jade.

This is quite tiring, so there are two ways I am compiling it now.

1) With PyCharm, I used the External Tools menu, and added a 'JADE to

[2012-11-16 01:20] acdvorak commented on #31
Thanks for the detailed writeup!  I'll keep this in mind as I refactor the code.

[2012-11-16 01:25] acdvorak commented on #32
Unfortunately, `VFileEvent`s appear to be triggered individually when saving multiple files rather than in batch, which makes using `BulkFileListener` pointless.  Batch is probably only available for refresh operations, but not saves.

[2012-11-16 01:25] #32 closed, assigned to acdvorak

[2012-11-16 01:32] acdvorak commented on #30
Not necessary.  Now that Rhino optimizations are enabled, this baby is **wicked** fast.

[2012-11-16 01:32] #30 closed, assigned to acdvorak

[2012-11-16 02:00] acdvorak commented on #18
I'm not able to reproduce the issue in Windows 8 64-bit.

I'd like to try using your IDE settings if it's alright with you.  Can you go to File > Export Settings, save the .jar file to your Dropbox, and send me a link to it?

[2012-11-16 02:07] acdvorak commented on #29
Unable to reproduce this issue anymore.

[2012-11-16 02:07] #29 closed, assigned to acdvorak

[2012-11-16 08:26] intmainreturn0 commented on #30
Are Rhino optimizations turned on by default or we (users) should perform some actions to turn them on? :)

[2012-11-16 12:16] EvertVd commented on #18
Sure, no problem: https://dl.dropbox.com/u/94095197/settings.jar
I just left out the deployment servers (not sure if passwords are exported as well, so I left them out to be on the safe side since it is a public link)

[2012-11-16 14:11] acdvorak commented on #30
They're enabled by default in the Java code, so there's no user action required :-D

Previously they were turned off while I worked through some integration issues with [asual's LESS Engine](https://github.com/asual/lesscss-engine), but now that those issues are resolved I figured it was time to speed things up a bit.

You can [read about Rhino's optimization settings](https://developer.mozilla.or

[2012-11-20 10:37] jhuesos opened #33 "When detecting changes, compile main.less only"
Hi Andrew,

Would it be possible to when the plugin detect a change in one file, compile only an specific file?

The problem I have is in my projects, the way I usually work with LESS is I have a main.less and then I import rest from the files from there. For example

main.less
pages/page1.less
pages/page2.less
...

From main.less I import page1.less and page2.less. And in my site I only load a si

[2012-11-21 02:42] acdvorak commented on #33
Hey Jaime,

Absolutely!  Set "`Include files by path`" to "`main.less`" in the [settings dialog](https://raw.github.com/acdvorak/intellij-lessc-plugin/master/screenshots/settings.png) (IntelliJ Settings > Project Settings > LESS Compiler).  Changes to child files (e.g., `pages/page1.less`) will trigger `main.less` to be compiled, but the child files themselves will not be compiled.

Hope this help

[2012-11-21 02:42] #33 closed, assigned to nobody

[2012-12-12 19:34] mikenereson opened #34 "Add line numbers to the compiled css"
From YouTrack http://youtrack.jetbrains.com/issue/WEB-2198 via Tim Kindberg

"Whatever you choose to do with compilation, please consider putting debug outputs in the compiled css, so we can easily trace our way back to the original .less file line number."

[2012-12-13 14:41] mikenereson commented on #34
From YouTrack http://youtrack.jetbrains.com/issue/WEB-2198 via Tim Kindberg

"I found that SASS can output debug info and the latest Chrome will utilize that debug info to show developers the SASS line number. Well LESS has followed suit and added SASS-like debug info so that it too can be shown in Chrome. You can see this pull request to learn more: https://github.com/cloudhead/less.js/pull/1038.

[2012-12-13 15:15] eukreign opened #35 "IntelliJ 12 Support"
The "LESS Compiler" menu doesn't show up under IntelliJ 12. Worked fine in 11 until I upgraded to 12.

If you could update the developer/debug instructions maybe I can try debugging it to see why it doesn't show up.

[2012-12-13 15:49] acdvorak opened #36 "Native Node.js support (instead of Rhino)"
Auto-detect Node.js (and allow user to specify `node` location via preference pane).

If Node.js is available, use `node` instead of Rhino to compile.

[2012-12-13 23:02] acdvorak opened #37 "Cannot find function toCSS in object [object Object]"
[code]

[2012-12-13 23:07] acdvorak commented on #37
Error message is incorrect - was actually caused by passing too many arguments to a mixin.  Closing.

[2012-12-13 23:07] #37 closed, assigned to acdvorak

[2012-12-21 09:08] kempest opened #38 "Compilation breaks UTF-8 characters"
Hi,

I have a .less file with the following code:

[code]

The plugin produces the following output:

[code]

I tested this on PHPStorm 5.0.4 and PHPStorm 6 EAP latest build. I am on a Mac Pro (10.7.5)

I also tried other utf-8 characters like umlauts. They are also broken in the compiled .css file.
The standalone mac Less.app works fine.

[2012-12-24 14:25] starikovs commented on #38
I have the same problem:

content: '×';

compiles to:

  content: 'Г—';

[2012-12-27 12:53] EnzoMartin commented on #33
Was just about to ask how to do this as well, would it be possible for you to add this to the docs? There might be others who were wondering the same thing :+1:

[2012-12-27 13:09] EnzoMartin opened #39 "LESS files don't compile in Plugin"
I have a bunch of LESS files and they compile just fine using lessc or SimpLESS, however when compiling through the plugin, it just errors.

Here are the LESS files I'm trying to compile: http://www.tech-burrow.com/github/less.zip

[2013-01-01 00:53] rawtaz commented on #35
Any news on this? I'm actually holding back on upgrading IDEA since I don't want this and other plugins to stop working :)

[2013-01-01 00:54] rawtaz commented on #39
@EnzoMartin78 Which version of IDEA are you running? Could this be a problem specific to IDEA 12, or is that not likely (maybe you have other files that compile just fine with this plugin, or something)?

[2013-01-01 16:24] EnzoMartin commented on #39
I'm running on the latest PyCharm (2.6.3) which runs on IDEA12 yea. Could it be the plugin is using an outdated LESS version?

I've tried some other LESS files and they seem to compile fine, but they were fairly small files in comparison to the ones that error on me

[2013-01-02 03:41] jamelt commented on #39
I'm having the same problem. I'm using PhpStorm 5.0.4. I edited my LESS files and absolutely nothing happened.

[2013-01-06 22:25] malundstrom commented on #35
Also waiting for news on this issue.

[2013-01-08 11:39] TheoL opened #40 "Less 1.3.3 ?"
Looking at the file names this plugin seems to be using Less 1.3.1 instead of Less 1.3.3 which is the latest version.

[2013-01-08 19:25] MitoZ opened #41 "Name Error: "mixin" is undefined"
Hi. I use your plugin with webstorm 5.0.4, plugin version is 2.6.1
I have main less file, and some child files wich is imported to main.
for example in main import look like:
@import 'less/variables.less';
@import 'less/min-1200px.less';

I have 1 mixin in variables.less:
.center{
  margin: 0 auto;
}

and i use it in min-1200px.less:

.site-body{
    max-width: 1200px;
    .center;
  }

but plagin

[2013-01-11 18:06] thinkadoo commented on #16
Although I created the folders - http://cl.ly/M6VJ
I still get this message - http://cl.ly/M7CH
PHPStorm Version - http://cl.ly/M6XZ

[2013-01-12 00:45] circmark commented on #35
It works fine in 12. Maybe you have to go back to the repository and download it again

[2013-01-12 00:53] circmark opened #42 "multi word profile names"
Somehow I ended up with a profile whose name contained a space. The plugin totally freaked out, wouldn't let me edit or delete the profile. If I deleted the profile it would always come back when bringing up the preferences again. It also created a duplicate profile, or al least displayed a duplicate in the gui. I finally went into the lessc.xml config file to see about deleting the offending prof

[2013-01-16 08:29] Sopamo opened #43 "Doesn't execute multiple profiles"
I wanted to create two profile for the same less files. One which generates dev css files which are not compressed, and another one which generates compressed css files for the live environment.
But it seems like only the first matching profile is executed. Looks like a bug to me.

[2013-01-21 03:11] acdvorak commented on #35
I just bought IntelliJ IDEA 12.  Hopefully in the next few weeks I'll have a chance test it and make any necessary adjustments.  Sorry for the delay...  I'm pretty slammed at work right now.  But I'm working on it, I promise :-)

[2013-01-21 13:39] EnzoMartin opened #44 "Changing less files does not re-compile any other less file that is importing the changed file"
I have a parent Structure.less which imports other less files, when I change the imported less files, the structure.less does not re-compile, forcing me to constantly manually re-compile it

[2013-01-21 16:52] 0x46616c6b commented on #44
If you using [Bootstrap](http://twitter.github.com/bootstrap/) you are also affected by this issue.

[2013-01-29 17:51] ghost opened #45 "Support runner instead of autocompilation"
Sometimes I do not want my file to be recompiled automatically. It would be nice to have runner (SHIFT+F10) or sidebar (like ant plugin has) to allow user to run it by my self

[2013-01-30 11:32] Seanom opened #46 "LESS CSS Compiler Error, Cannot find function toCSS in object"
I have a fairly clean install of bootstrap but get the following error when trying to compile a main.less file

[code]

If I remove the the top comment, error changes to

[code]

[2013-02-01 14:18] mploigt opened #47 "Nothing happens when saving (PHPStorm 5.0.4, Mac 10.8.2) and wrong error message"
I have configured The PlugIn as shown in the screenshots. I do not have a setting "LESS Compiler" in Project Settings, only "LESS Profiles" but the content is the same.

When I'm saving a file, nothing happens, not even an error message shows up.

When I'm manually selecting "Compile to CSS" on the file or folder, I get the error message "The selected LESS file does not have any CSS output directo

[2013-02-06 21:00] acdvorak commented on #35
@circmark is right - you just need to download it again from the IDEA plugin manager window.  IntelliJ doesn't keep your custom plugins when you upgrade so you have to re-download them.

[2013-02-06 21:00] #35 closed, assigned to acdvorak

[2013-02-06 23:12] acdvorak commented on #39
@EnzoMartin78 I bumped the LESS version from 1.3.1 to 1.3.3 and it fixed the issue.  I'll release a new version of the plugin in the next day or two.  Thanks for the report!

BTW - did you set "Include files by path" in the plugin preference pane to `modern.less;modern-responsive.less` (or something similar)?

[2013-02-06 23:13] acdvorak commented on #38
Very simple fix.  I'll release a new version of the plugin in the next day or two that fixes this problem.

Thanks for taking the time to report this issue!

[2013-02-06 23:14] acdvorak commented on #40
Bumped LESS version to 1.3.3 in my local Git repo.  I'll release a new version of the plugin in the next day or two.

Thanks!

[2013-02-06 23:23] EnzoMartin commented on #39
Excellent to hear, figured it was probably a version issue.

I actually dropped that CSS library thing, but I think I had it set to only include modern.less. I've been using your plugin for other projects, usually creating a profile for each main LESS file I have and so far it's been fine.

Only other issue is that it doesn't re-compile files that include modified files. (if I have file1.less that

[2013-02-07 00:27] #38 closed, assigned to nobody

[2013-02-07 00:27] #39 closed, assigned to nobody

[2013-02-07 00:35] acdvorak commented on #39
@EnzoMartin78 I assume you're referring to #44?  Just wanna make sure I don't miss anything.

FYI - I just released version 2.6.2 in the JetBrains plugin repository.  Give it a try and let me know if it indeed solves this issue!

[2013-02-07 01:03] EnzoMartin commented on #39
Works perfectly now, nice!

And yes, #44 is the one I'm referring to for the included less files

[2013-02-07 01:58] acdvorak commented on #39
Cool!  Glad to hear it's working.  I'll take a look at #44 soon.  Thanks!

[2013-02-07 02:06] acdvorak commented on #40
v2.6.2 (which includes LESS 1.3.3) is now available in the JetBrains plugin repository.  Give 'er a go!

[2013-02-07 02:06] #40 closed, assigned to nobody

[2013-02-07 10:11] Mo- opened #48 "(2.6.2 )file names with dot makes error"
file names like blah.blah makes compilation error.

[2013-02-16 01:44] javy-liu commented on #47
I also have this problem(Idea12 ),but when I try many times ,the error dialog window isn't show. I want get css, but I can't find it.It show event log "LESS CSS Compiler: a.less was modified, but didn't change any CSS files (ignore)"

[2013-02-19 23:35] Beelal opened #49 "Editing an existing Less profile creates a new one"

[2013-02-19 23:36] Beelal commented on #36
+1

[2013-02-21 08:35] nizsheanez opened #50 "no autodeploy output file after compile"

[2013-02-21 08:36] nizsheanez commented on #50
sorry, was needed checkbox "Upload external changes"

[2013-02-21 08:36] #50 closed, assigned to nobody

[2013-02-21 11:27] kokarn opened #51 "Fails to compile media-queries correctly(?)"
I'm not sure exactly what it does but when trying to compile a file with a bunch of media queries it mangles them so they don't work as they are supposed too any more.

It just always uses the media query settings.

I can't actually spot the error any more but i had some errors earlier where it output something like @media max-width wich is obviously incorrect.

Tried the same LESS file with http:

[2013-03-19 14:16] aouicher opened #52 "LESS CSS Compiler Error"
Soft: PHPStorm v6

i got an error with my less file

error message:

[code]

less file:

[code]

[2013-03-19 14:21] aouicher commented on #52
issue closed

right syntax:

[code]

[code]

not

[code]

[2013-03-19 14:21] #52 closed, assigned to nobody

[2013-03-25 13:14] holloway87 commented on #47
I have the exact same problem with PhpStorm 6.0 on Windows 7

[2013-04-23 12:31] acdvorak commented on #47
@excalibur and @holloway87, a few questions for you:
1.  What OS version, national language, and architecture are you using?  (e.g., Windows XP 32-bit English, Windows 7 64-bit German, Mac OS X 10.7.5 Finnish, Ubuntu 12.04 64-bit Spanish)
2.  Do you have IntelliJ/PhpStorm set up to [use a locale other than English](http://confluence.jetbrains.com/display/IDEADEV/Localization+Guide+for+IntelliJ+IDE

[2013-04-23 12:56] acdvorak commented on #45
You can right-click on the file in the editor or the Project panel and choose "Compile to CSS".  If I added an option to disable automatic compilation, would that work for you?  Or would you prefer a keyboard shortcut as well?

[2013-06-12 13:29] herrbaehrt opened #53 "Less 1.4.0?"
Looking for the current less version in github-repro https://github.com/cloudhead/less.js i noticed there was the less 1.4.0 release 7 days ago. Is there an update coming up?

[2013-07-07 19:46] Shaz3e commented on #41
I was having the same problem until the path is correct.

Example:
@import "less/variables"; // the path should be correct with the ./ or ../
@import "less/variables";
@import "less/min-1200px";

I assume that is your main.less file which is also in the same directory less/main.less

.center{
      margin: auto;
}

.site-body{
      max-width:1200px;
      .center;
}

[2013-07-26 21:05] bjorn2404 commented on #53
This would be really useful. It's been month and I'd like for this to compile with &:extend();

[2013-08-06 12:20] gkorland opened #54 "Less support of CSS compilation is yelling an error"
Using the following line which is legal with LESS to direct the compiler to compile CSS as LESS file, shows an error in the IDE.

[code]

[2013-08-06 12:35] dannymachal commented on #54
This feature I believe wasn't implemented until LESS v1.4. Since this plugin is still using LESS 1.3.x that is probably why.

From http://lesscss.org/

In v1.4.0 you can force a file to be interpreted as a particular type by specifying an option, e.g.

@import (css) "lib";
Will output..

@import "lib";
and

@import (less) "lib.css";
Will import the lib.css file and treat it as less. If you specify

[2013-08-06 23:17] gkorland commented on #54
Right, are there any plans to upgrade the support to 1.4?

[2013-08-07 04:44] dannymachal commented on #54
I would hope so. I hate having to run something like WinLess all the time when PHPstorm is my go to IDE. I spent the morning trying to "update it." Then I realized I had no idea what I was doing and I don't know any Java, how to use Maven properly, or how to use/configure IntelliJ IDEA for making plugins. At least I figured out those were the things I needed to learn to make this work.

I thought

[2013-08-10 06:37] lvarayut opened #55 "Error when using variables in different less files?"
Let's say I separated less files into many less files to be easier to organize. Here is my repository:

/reset.less
/variables.less
/mixins.less
/main.less
/styles.less

The styles.less is just importing the other files:

@import "reset.less";
@import "mixins.less";
@import "variables.less";
@import "main.less";

However, when I add some codes into main.less and use the @line-color which is define

[2013-08-13 09:23] dannymachal commented on #55
can you post your variables.less?

[2013-08-16 06:52] lvarayut commented on #55
I have just two following lines in the variables.less.

@line-color: #cccccc;
@link-color: #08c;

[2013-09-02 14:49] nalbion opened #56 "Allow generation of source maps"
less.js 1.5.0 will have support for source map generation.  It's already implemented, just waiting for the next release.

https://github.com/less/less.js/issues/1050

[2013-09-07 19:01] rolandtoth commented on #53
+1 for the update

[2013-10-03 13:39] vvondra commented on #54
+1

[2013-10-06 06:38] ajaypadala opened #57 "Multi-parameter mixins separated by semi-colons don't compile"
From bootstrap 3's mixins.less file:
.make-sm-column(@columns; @gutter: @grid-gutter-width)

It uses semi colons to separate parameters but Intellij plugin expects parameters to be separated only by commas, so doesn't understand this mixin.

[2013-10-07 07:30] grubersjoe opened #58 "Possibility to disable auto-compilation on every save (trigger it manually)"
On low level hardware and large LESS files the compilation can take a while and interrupt you in your workflow. I would like to have the possibility to trigger the compilation manually (through the right click menu for instance), instead of the current behaviour, that the file gets compiled on every save.

I know, I simply could save less often, but I'm the kind of person, who got used to save man

[2013-10-10 06:51] chenasraf commented on #58
You can turn off the profile's source directory and add a shortcut in the keymap to the "Compile to CSS" action... that's what I do

[2013-10-10 06:54] chenasraf opened #59 "File "Access is denied" error when manually compiling to CSS"
I disabled auto-compilation because it kept recompiling the file when I moved between branches. When I triggered a compilation manually, it told me the target directory is not writable:

[code]

[2013-10-10 09:16] grubersjoe commented on #58
Thanks, I feel a bit stupid right now, not to think about this ^^. However, now I have the same error you have opened a new issue about #59 .

[2013-10-10 11:17] chenasraf commented on #58
Figured how to solve it; put the source and destination as you need,
but exclude/don't include the less files in the proper field, and only
manually do it from there

On 10/10/13, gruberjonathan notifications@github.com wrote:

[2013-10-24 06:22] fnordian commented on #47
Has this been resolved? I've got the same problem on fedora 16 64bit. idea.log doesn't show anything suspicious.

[2013-11-06 15:15] mbcooper opened #60 "Fubar - how to uninstall, re-install?"
I was getting the following error using the plug-in:

Program Files (x86)\JetBrains\IntelliJ IDEA 12.1.6\plugins\less\lib\less.jar" --no-color ourApp.less
no main manifest attribute, in C:\Program Files (x86)\JetBrains\IntelliJ IDEA 12.1.6\plugins\less\lib\less.jar

So I blew away the folder, and tried to re-install.  It still showed up in the plug-in list in Setiings, so I deleted it.

No I canno

[2013-11-21 11:50] dlgski opened #61 "Cannot get rid of a profile"
I created a profile and applied it.  Afterwards I realized I needed to change it (added an Include file) clicked "Apply" then "Save".

I went to test my compilation and it still did the functions of the previous profile.  So I opened my preferences again and now I had 2 profiles, one the original setting and a second the new settings. Both with the same name.  I deleted the incorrect one, Applied

[2013-11-25 13:12] jankus commented on #53
Waiting for update, too. Killer feature is forcing compiler to compile CSS file as LESS:

[code]

This is important for namespacing. Workaround works only 1.4+ http://stackoverflow.com/a/19796985/1448988

[2013-11-29 14:41] parviain commented on #47
Having same problem. OpenSuse 12.3 64bit, IDEA 12.1.6.

[2013-12-09 16:12] MuppetGate opened #62 "Doesn't work under IntelliJ 13!"
Just installed the plugin under IntelliJ 13 and I cannot set up profiles. The button to open the file browser for the source path doesn't work. This is not hugely serious because you can copy and paste the path into the field. However, the + button for the CSS output folder doesn't work.

And it appears that it's having trouble saving the profile.

[2013-12-10 13:13] MuppetGate commented on #62
Okay, I think I know what the problem is: The signature for the chooseFile method seems to have changed.

Here's the error I'm seeing.

2013-12-09 15:58:37,782 [ 180363]  ERROR - llij.ide.plugins.PluginManager - com.intellij.openapi.fileChooser.FileChooser.chooseFile(Lcom/intellij/openapi/project/Project;Lcom/intellij/openapi/fileChooser/FileChooserDescriptor;Lcom/intellij/openapi/vfs/VirtualFile;

[2013-12-12 16:12] bilekt3 commented on #62
I am voting in excellent plugin :+1:

[2013-12-17 14:02] just-boris commented on #62
+1, have the same error

[2013-12-17 14:39] pfilipsson commented on #62
+1, have same error.

[2013-12-17 15:10] MuppetGate commented on #62
Hi there. I think I've fixed the problem. You can find the corrected zip file here:

https://github.com/MuppetGate/intellij-lessc-plugin/tree/master/lessc-plugin

[2013-12-18 08:24] pfilipsson commented on #62
When running the updated plugin I get:
09:22:40 LESS CSS Compiler Error: blue-bootstrap-template.less: java.lang.NullPointerException

It might have installed it wrong, but I do not have time to look into it further.

[2013-12-20 10:32] just-boris commented on #62
@MuppetGate I confirm previous comment. Have the same error message

[2013-12-20 13:42] MuppetGate commented on #62
Mmm. Not sure what's going on here. Seems to work fine on mine. If I can get it to break then I should be able to fix it. Could someone post the complete log? Might help if I can find the line where the problem is occurring.

[2013-12-20 13:43] MuppetGate commented on #62
If I can't fix it during the holidays then the FileWatcher plugin from IntelliJ is an equally good option.

[2013-12-20 16:01] leftovers commented on #62
It seems there is no resouces js files in lessc-plugin.jar inside zip file that downloaded from https://github.com/MuppetGate/intellij-lessc-plugin/tree/master/lessc-plugin

[2013-12-20 16:23] MuppetGate commented on #62
Now that is odd....

[2013-12-20 16:30] MuppetGate commented on #62
Could someone give this one a try:

http://d.pr/f/VL1a

[2013-12-20 16:44] leftovers commented on #62
Tried.
No, It's not working.
Project Setting menu is gone now...
and no compile.

[2013-12-20 18:27] MuppetGate commented on #62
Bugger ... :-(

Not sure what's going on then. I've tried it on two fresh machines and it still seems to be fine.  Could be that there's a dependency that's already installed on all my machines.

One last go at a complete rebuild:

http://d.pr/f/hfDj

Then I'd advise moving to IntelliJ's own FileWatcher set up (which is a lot more versatile).

[2013-12-20 18:43] leftovers commented on #62
I got "LESS CSS Compiler Error: main.less: java.lang.NullPointerException" again.
Project Setting menu is working.
And now resources gone... :-(

I'll maybe try FileWatcher.
Thank you for your advice ;-)

[2013-12-22 13:52] ghost commented on #62
Facing the same problem :(
Will there be a bugfix in the future? :)

However, great work! Thank you :+1:

Error Log:

2013-12-22 14:44:26,395 [  11827]  ERROR - llij.ide.plugins.PluginManager - com.intellij.openapi.fileChooser.FileChooser.chooseFile(Lcom/intellij/openapi/project/Project;Lcom/intellij/openapi/fileChooser/FileChooserDescriptor;Lcom/intellij/openapi/vfs/VirtualFile;)Lcom/intellij/ope

[2013-12-22 21:05] MuppetGate commented on #62
This looks a lot like you're running the old one.

Did you download it from here?

http://d.pr/f/hfDj

It seems to work fine on my Mac.

[2013-12-23 07:53] ghost commented on #62
No, I'm using the one from the IntelliJ plugin manager.

If I install your plugin from the link you've provided, am I able to use the Plugin-Manager for future updates?

[2013-12-23 08:10] MuppetGate commented on #62
You will be able to use the Plug-in manager for future updates if you delete the one that you installed from disk.

I don't want to put it up on the plugin manager because it's not really my code, and it doesn't seem to work for a few people and I'm not sure why. I've just tried a fresh install of IntelliJ 13 and it works perfectly for me on Windows and Mac.

Again, I think folk would be better of

[2013-12-23 08:13] MuppetGate commented on #62
Might seem like a silly question, but are folk deleting the old plugin before trying to install the new one from the zip file?

[2013-12-23 10:03] just-boris commented on #62
I use archive from https://github.com/acdvorak/intellij-lessc-plugin/issues/62#issuecomment-31095940. Now I can open and change plugin's settings but I still can't compile to css, `java.lang.NullPointerException` appearing. Could you provide changes in source code in your fork instead of build version in zip, that I can help to fix it with you?

[2013-12-23 10:46] MuppetGate commented on #62
Yup, all the changes should in the fork:

https://github.com/MuppetGate/intellij-lessc-plugin

[2013-12-23 10:54] MuppetGate commented on #62
Okay, it looks like a build problem. It could be working on mine because I have nodejs installed on both machines.

[2013-12-23 11:26] MuppetGate commented on #62
Riggghttttt...... Okay. Hang on a mo. I think  I haven't told IntelliJ to include the javascript resources.

[2013-12-23 11:36] MuppetGate commented on #62
Okay, tenth time's the charm!

http://d.pr/f/nNTS

The missing resources are now included.

Someone care to give this one a try, because everything seems to work okay on mine ....

[2013-12-23 11:45] leftovers commented on #62
Yes, it works perfect!

Thank you for your great work ;-)

[2013-12-23 12:15] just-boris commented on #62
I confirm, last version is working good, thanks!
Maybe it worth send a pull request to @acdvorak to make this version available through JetBrains repository

[2013-12-23 14:11] MuppetGate commented on #62
Okay, thanks for your patience, everyone ... :-)

I've sent a pull request so we'll see what happens.

[2014-01-03 07:39] soukupj opened #64 "You can not select a working directory"
Not open dialog select source and output directory
PhpStorm 7.1

![less](https://f.cloud.github.com/assets/1811943/1837939/1e64ca14-744a-11e3-8389-1e48c297f657.png)

![less-plugin](https://f.cloud.github.com/assets/1811943/1837941/27d82b4a-744a-11e3-88cc-42ad83033192.png)

![java-version](https://f.cloud.github.com/assets/1811943/1837942/2c6e8b68-744a-11e3-9aa2-b0e735c7f6f1.png)

[2014-01-05 18:04] maxio89 commented on #62
I've noticed a link to a working version too late, so I've done my own fixes.

https://github.com/maxio89/intellij-lessc-plugin/tree/idea13

Maybe eventually these updates will be included in official repository.

[2014-01-06 12:12] adam-lynch commented on #64
:+1:

[2014-01-07 06:58] cloe-perrotin commented on #55
I have the same problems and I find no answer so far has functioned.

1st track: UTF8 to be without BOM = no results
2nd track: provide a file path like this: / less / variables.less = no results
currently no idea on the net will remove the error ...

[2014-01-07 08:13] MuppetGate commented on #64
The same thing happens with IntelliJ 13. The problem seems to be caused by changes made to the IntelliJ Plugin API.

I put together a fix for IntelliJ 13. It might work for PhpStorm 7.1, but I can't guarantee it.

http://d.pr/f/nNTS

Give it a try and see :-)

Alternatively, install the Jetbrains FileWatcher plugin (though that does need the installation of NodeJS as well).

[2014-01-07 10:11] adam-lynch commented on #64
Thanks @MuppetGate, that version works for me in IntelliJ 13.0.1 on Windows 8, but not on Mac OS X (no error message, nothing). I've had problems with other plugins not working on Mac before, is this a common/known problem?

---

**FileWatcher**

About the FileWatcher plugin, I don't think it covers everything. Take this example.
- `.../css/less/bootstrap.less`
- `.../css/less/importedIntoTheFileA

[2014-01-07 18:47] acdvorak commented on #62
This issue should be fixed in the official JetBrains plugin repository.

Thanks to @MuppetGate and @maxio89 for submitting fixes (#63 and #65)!

[2014-01-07 18:47] #62 closed, assigned to nobody

[2014-01-07 18:58] acdvorak commented on #53
I would love to do this, but unfortunately they stopped releasing Rhino-compatible versions of less.js, which means I would need to completely rewrite the plugin to interface directly with Node.js.  Sadly I don't have the time to do that, but contributions are **always** welcome :-)

[2014-01-07 19:01] acdvorak commented on #56
I would love to implement this feature, but doing so would require a total rewrite of the plugin.  See my comments on #53.

[2014-01-07 19:08] acdvorak commented on #61
You should be able to edit the plugin preferences manually; they're stored in `.idea/lessc/lessc.xml` in your project directory.  Make sure to exit the IDE before making any changes to avoid conflicts.

[2014-01-07 19:10] acdvorak commented on #64
This issue appears to be fixed by #63 and #65.

[2014-01-07 19:12] acdvorak commented on #60
I'm not sure how to fix that; you'd need to contact [JetBrains Support](https://intellij-support.jetbrains.com/home).

[2014-01-07 19:50] #58 closed, assigned to nobody

[2014-01-07 21:28] acdvorak commented on #53
I take it back - @asual updated asual/lesscss-engine@821187b8f383f3ec0df97952878535abfa8ab71b to support 1.5.0, which I then updated to 1.6.0 in commit 604d9a14161e3a82f4b3023d4f243a5c0c14150e.

The plugin as been updated to LESS 1.6.0 in the official IntelliJ repository.  Enjoy!  :-)

[2014-01-07 21:28] #53 closed, assigned to nobody

[2014-01-07 21:57] acdvorak commented on #55
I'm unable to reproduce the issue in IntelliJ IDEA 13 Ultimate (IU-133.471).

Which LESS file does the error message say is causing the problem?

Did you configure your LESS Profile (under Project Settings) to **ONLY** compile `styles.less`?  Or is it trying to compile **all** LESS files (which is the default behavior if you don't explicitly set an include/exclude filter in the settings)?

[2014-01-08 02:50] acdvorak commented on #41
I'm unable to reproduce the problem.  Sounds like you may be using incorrect paths in your LESS file...  Please reopen this issue if the problem persists after updating to the latest version of the plugin (2.6.7).  Thanks!

[2014-01-08 02:50] #41 closed, assigned to nobody

[2014-01-08 06:07] cloe-perrotin commented on #55
Hello,

the file that shows me this error message: variables.less

Yes I have less to configure it compiles only styles.less file min.
I compile with less app 'for mac.

I usually get there for other projects with my old computer windows mac but
then impossible for the moment ... because of this error I do not know if
it's related but it does not work.

---

Bonjour,

le fichier qui m'affiche ce m

[2014-01-08 07:18] #45 closed, assigned to acdvorak

[2014-01-08 07:29] #42 closed, assigned to acdvorak

[2014-01-08 07:29] #49 closed, assigned to nobody

[2014-01-08 07:29] #61 closed, assigned to nobody

[2014-01-08 07:36] acdvorak commented on #54
Plugin has been upgraded to LESS 1.6 :-)

[2014-01-08 07:36] #54 closed, assigned to nobody

[2014-01-08 07:40] acdvorak commented on #47
Try updating to the latest version of the plugin (2.6.8) and see if that solves the issue.  I had to rewrite a lot of the settings persistence logic in 051d997e800fdea85f639f731ad7eb462b4235fe; hopefully I can kill 4 birds with one stone.

[2014-01-08 07:47] acdvorak commented on #55
@cloe-perrotin:

Please try updating to the latest version of the plugin (2.6.8).

If that does not work, could you please send me a `.zip` file containing all of your `.less` files and directories?  If that is not possible (e.g., they are private), could you please create some **small** example `.less` files that reproduce the issue?

Thanks!

[2014-01-08 08:20] acdvorak commented on #51
I compiled the attached LESS file with the latest version of the plugin (2.6.8) and it worked properly; try updating the plugin and see if that solves the problem.

I recently upgraded the plugin from LESS 1.3.3 to 1.6.0, and I suspect that may have been the cause of the issue.

Let me know if updating the plugin works for you or not.

P.S. Thanks for attaching full, complete copies of your LESS a

[2014-01-08 08:22] acdvorak commented on #48
Try updating to the latest version of the plugin and see if that solves the issue.  I'm unable to reproduce it in version 2.6.8.

[2014-01-08 08:28] acdvorak commented on #57
Try updating to the latest version of the plugin (2.6.8) and see if that solves your issue.  The plugin has been upgraded to LESS 1.6.0 (was previously 1.3.3).  I tested semicolon separators on the latest version of the plugin and it worked fine for me, so let me know if that fixes it for you.  Thanks!

[2014-01-08 08:29] acdvorak commented on #59
Try updating to the latest version of the plugin (2.6.8) and see if that solves your issue.

**Note**: You'll need to specify a source LESS directory and uncheck the "Compile automatically on save" checkbox in the settings dialog.

Thanks!

[2014-01-08 08:30] #60 closed, assigned to nobody

[2014-01-08 08:31] acdvorak commented on #64
I'm going to close this issue as it appears to be resolved.  Please let me know if you're still seeing it with the latest version of the plugin (2.6.8) and I'll reopen the issue.  Thanks!

[2014-01-08 08:31] #64 closed, assigned to nobody

[2014-01-08 08:35] #43 closed, assigned to nobody

[2014-01-08 19:43] gilbertg opened #66 "LESS compiler error when upgrade to 2.69"
Hi, I got this parse error when upgrading to v2.69 - where before it worked fine. Any advice?

9:31:48 PM LESS CSS Compiler Error
           mixins.less: Parse Error: Unrecognised input (line 561, column 6) near
           .spanX (@index) when (@index > 0) {
           (~".span@{index}") { .span(@index); }
           .spanX(@index - 1);

[2014-01-08 22:30] acdvorak commented on #66
You didn't include a complete, usable code sample, so I took my best guess as to what you meant:

**Input LESS file**:

[code]

**Expected CSS output**:

[code]

I could not get the above LESS code to compile using the official `less.js` compiler (`lessc` command) v1.5.0 or v1.6.0.  Both `less.js` versions gave me the exact same error message you did, so I'm guessing they made a backward-incompati

[2014-01-08 22:30] #66 closed, assigned to nobody

[2014-01-08 23:46] thinkspill commented on #53
Does this mean #56 Source Map support is possible as well?

[2014-01-09 04:09] gilbertg commented on #66
yes, was deprecated selector interpolation syntax thanks:
https://github.com/less/less.js/issues/1789

On 9 January 2014 00:30, Andrew C. Dvorak notifications@github.com wrote:

##

Gilbert Grant

Cell: +27 (0) 82 875 1008 Mail: gilbert@iron-nest.com

http://www.iron-nest.com

_PLEASE CONSIDER THE ENVIRONMENT BEFORE YOU PRINT_

[2014-01-09 14:27] acdvorak commented on #53
Yes, it should be possible.  I'm a **huge** fan of source maps, and would _love_ to add support for them.  At this point it's simply a matter of when I'll have time to implement it properly.

[2014-01-10 13:15] holloway87 opened #67 "Compile Error: can't find @import file, but file exists"
I want to compile a less file with many import statements.
The compiler gives an error message on the first imported file that it doesn't exist, but the file is definitely there and the editor has access to it.  I can even open the file using the Go to Declaration function.

This is the complete error message:
LESS CSS Compiler Error: bootstrap.less: org.mozilla.javascript.UniqueTag@1ba3e4a: NOT_F

[2014-01-10 13:19] holloway87 commented on #47
Well this problem fixed itself after i upgraded to PhpStorm 7, sorry for not letting you know earlier.  But i have a new problem now with PhpStorm 7.1 as i wrote in #67.

[2014-01-10 15:08] parviain commented on #47
Updated the plugin to version 2.6.9, still same problem: "Missing CSS Output Directory"
Tried different source and output directory combinations, even plain simple project with only one less file: no luck.

OpenSuse 12.3 64bit, IDEA 12.1.6.

[2014-01-11 03:28] acdvorak commented on #47
@parviain: Do you have any other profiles configured for that project that are missing a CSS output directory?  If possible, attach a screenshot of your "LESS Profiles" config in the IDE's Project Settings dialog and the contents of `<project_dir>/.idea/lessc/lessc.xml`.

[2014-01-11 07:15] mploigt commented on #47
For me, this is working now in PHPStorm 7.0 on OS X 10.9.1, english, 64bit. The LESS CSS Compiler Plugin is version 2.6.9.

[2014-01-11 07:30] parviain commented on #47
I've only one profile, although tested also with several profiles with and without many output directories.

Screenshot - LESS Profiles:
![Uploading less_plugin_settings.png . . .]()

Screenshot of my test project:
![Uploading idea_project.png . . .]()

[2014-01-11 07:33] parviain commented on #47
I've only one profile, although I tested with several profiles with and without many output directories.

Screenshot of LESS Plugin settings:
![less_plugin_settings](https://f.cloud.github.com/assets/2448163/1893436/5e11be3a-7a92-11e3-8b5d-ab453fbb8643.png)

Screenshot of my project:
![idea_project](https://f.cloud.github.com/assets/2448163/1893437/87d4fcd2-7a92-11e3-8a95-8cc2a2383d87.png)

[2014-01-16 08:17] jackie19 opened #68 "Compiler Error missing closing `}` , but nothing was missing."
Compiler Error
         test.less: Parse Error: missing closing `}` (line 1, column 4) near
         span{ /_top: 0;_//_left: 0;_//_right: 0;_/ width: 200px;}

my less only one line:
span{ /_top: 0;_//_left: 0;_//_right: 0;_/ width: 200px;}

IntelliJ IDEA 12.1.4, LESS CSS Compiler 2.6.9

[2014-01-16 22:59] nSamu commented on #67
I have the same error. The problem is a space in the file path ( in my case ): /C:/../Project%20Files/../default.less.

[2014-01-22 09:07] blabno opened #69 "@import-once ignored"
I'm getting error

[code]

template.less contains `@import-once "../../_config";` statement at the begining.
If I substitute it with `@import "../../_config";` then compiler works fine, so I guess it ignores `@import-once`.

[2014-01-22 10:11] django23 commented on #44
Hey Guys,

This problem is still existing. Have you found a workaround?

[2014-01-22 10:43] django23 commented on #44
The probleem seems to occur when linkink to parent files with ../otherDir

[2014-01-26 17:27] synthic-zz opened #70 "@import issue in LESS CSS Compiler"
Hello,

I am having the following issue after using the "LESS CSS Compiler Error" on PhpStorm 7.1.1.

The following error appears:
18:23:01 LESS CSS Compiler Error: screen.less: org.mozilla.javascript.UniqueTag@1892047: NOT_FOUND Error: java.io.IOException: No such file file:/C:/Users/synthic/Drive/Webserver/renovatio.dev/07.development/www/html/assets/less/libs/_normalize.less (line -1, column -1

[2014-01-27 11:58] bluemoehre commented on #67
I just updated and now having an error too.
NOT_FOUND Error: java.io.IOException: No such file file:/C:/Users/me/My%20Project/less/functions.less (line -1, column -1)

[2014-01-28 15:35] ghost opened #71 "Allow to use relative path to prject home"

[2014-01-28 15:36] ghost opened #72 "Allow to use relative path to project home"
Currently every path entered in LESS profiles has to be absolute.
It would be great if it was possible to use relative path to the project home instead.

[2014-01-29 00:50] nalbion commented on #56
If it's any help, I started modifying your plugin to support source maps.  ...I got as far as modifying the LessProfile and forms but the functionality wasn't supported in Less.js at the time.

https://github.com/nalbion/intellij-lessc-plugin/commit/5a3ecc5c95318b457acecd883312ccaf0798483f

[2014-02-06 07:32] BurnedToast opened #73 "Separate custom less-engine"
As I saw you use the less-engine from asual,

he currently just supports less 1.5.x. But your customized code supports less 1.6.0.
Is it possible to just use your less-engine - even if I am not using intellij?

Maybe you could build that engine into a separate jar file instead of mixing it with the plugin-classes?

Thank you in advance :)

[2014-02-18 15:30] pcornelissen opened #74 "compilation of less file does not trigger remote upload of css"
We have the automatic remote upload activated to copy the source upon save to the remot dev server. When the less compiler generates the new css, the upload of the file is not triggered.
IntelliJ sees the changes, because for example the file is marked as changed by the git plugin, but the upload if not triggered.
I guess this is due to a missing call to intellij that something has changed?
Or is

[2014-02-26 02:45] AnYaran commented on #46
how to solve??

[2014-03-05 03:14] smilingcheater opened #75 "Incorrect compression"
Found a bug: when compressing CSS output,"filter" rules (written for old IEs) are changed.
Sourse less file:

Compiled without compression:

Compiled with compression (deminified for better view)

[2014-03-06 19:53] FoxxMD commented on #70
+1, I'm having the same problem

[2014-03-06 23:42] mferrara opened #76 "Changes to .less files result in "PM LESS CSS Compiler: bootstrap.less was modified, but didn't change any CSS files (ignore)""
I'm trying to get this setup, and no matter what changes I make to the .less files I get that same response.

Gist of log here...
https://gist.github.com/mferrara/865a23acc47ef34fb9e9

Any ideas?

[2014-03-11 18:11] rmodos commented on #70
+1

LESS CSS Compiler Error
docs.less: org.mozilla.javascript.UniqueTag@2df48a8e: NOT_FOUND Error: java.io.IOException: No such file file:/Users/rmodos/IntelliJ/style%20guide/css/normalize.less (line -1, column -1)

[2014-03-14 17:18] arechsteiner opened #77 "Performance Issues"
Checking out this plugin and I think it's great functionality wise. Way better than fiddling with File Watchers. The problem I have is the performance. It took more than 20 seconds to compile 4 less files (with about 10 includes each). Now the plugin seems to be warmed up and takes around 13-15 seconds. It also causes the IDE to freeze for a second after compiling. Not sure if this is plugin relat

[2014-03-15 18:08] hrd1984 opened #78 "Border Radius - Ovals"
When using border radius to make an oval shape, the code that's required doesn't output properly.

ex.
  -moz-border-radius: 184px / 80px;
  -webkit-border-radius: 184px / 80px;
  border-radius: 184px / 80px;

The above code is treated as a division problem and the output is as follows:

-moz-border-radius:2.3px;-webkit-border-radius:2.3px;border-radius:2.3px;

[2014-03-28 08:45] jayenashar opened #79 "can't save profile"
same issue as [scaytrase](http://plugins.jetbrains.com/plugin?pr=&pluginId=7059):

Using Intellij Ulitmate 11.1.5.
![snapshot21](https://cloud.githubusercontent.com/assets/1137152/2547690/38333136-b655-11e3-9451-c572ae7e3cd3.png)

[2014-04-14 13:43] MikeMitterer opened #80 "Could not find a way to configure the cmd-line options"
Hi, thanks for your great plugin!
Works really nice. I am not sure if I could not find the compiler settings or if they are not available...

What I want is something like this: lessc --source-map-less-inline --source-map-map-inline application.less target/application.css

Any hints?

[2014-04-16 06:56] JasonSuave commented on #67
I've ran into this problem just now and it seems to be a path related issue.
Removing all whitespace from my project path solved the problem. More of a workaround instead of a fix but it'll do for now.

[2014-04-21 09:28] a-x- opened #81 "e(calc(expression)) construction compile as [object Object]"
// Excuse me, I speak broken English.

For example

[code]

==>

[code]

[2014-04-21 09:31] a-x- commented on #46
// Excuse me, I speak broken English.

I have similar trouble.
For example

[code]

==>

[code]

[2014-04-21 09:36] a-x- commented on #81
Possible duplicate: https://github.com/acdvorak/intellij-lessc-plugin/issues/46

[2014-04-25 11:27] a-x- commented on #36
+1

[2014-06-08 05:58] alexpts opened #82 "Update less to 1.7"

[2014-06-25 10:45] marlenesco commented on #82
+1

[2014-06-29 10:38] r0b- opened #83 "@import (reference) output whole file"
Hi,

all my reference-imports are completely written to the output on compile even if no rule is used.
I'm using PhpStorm7.1 and import like this:

[code]

Did I miss sth.?

Thanks in advance
Rob

[2014-07-01 12:37] e-belair commented on #56
@nalbion is your example working? HOw can i test it?

[2014-07-01 23:26] nalbion commented on #56
No, I run a grunt serve/watch task now

[2014-07-02 01:15] acdvorak commented on #56
@nalbion Absolutely, I'd be happy to take a pull request

[2014-07-06 09:25] eirenik0 commented on #76
I have same problem... Did you find solution?

[2014-07-15 10:06] rbatukaev commented on #76
Same problem here

[2014-07-22 15:49] zolotov opened #84 "NoClassDefFoundException: apache commons"
Report: 676797 Product:PhpStorm 138.1161 OS:Windows 7 Anonymous reporter

[code]

[2014-07-22 20:35] ramon-villain commented on #83
Same issue. :+1:

[2014-07-24 23:54] Sennik commented on #79
Same here, I cannot add a CSS output directory too. (PHPstorm 7.1.3)

[2014-08-01 17:16] belyan commented on #82
+1

[2014-08-08 11:26] TheCelavi opened #85 "Broken"
"LESS CSS Compiler Error
default.less: org.mozilla.javascript.UniqueTag@8c6fb37: NOT_FOUND Error: java.io.IOException: No such file file:**********/Bundle/InterfaceBundle/Resources/public/css/elements.less (line -1, column -1)"

IntelliJ v. 13.1.3, plugin version 2.6.9

[2014-08-15 19:55] Syhids commented on #72
This is very important for projects in a VCS. Any updates?

[2014-08-20 19:22] marcelaraujo commented on #82
+1

[2014-08-28 02:54] tiancaiyangyi commented on #83
Same issue.

[2014-09-07 20:39] TheCelavi commented on #85
Found it -> the path name to less file which is in import statement contains space delimiter, which is interpreted as %20% (web). The path of the project was /Users/Me/My Projects/src/...... -> 'My Projects' in causes the problem.

[2014-09-17 10:39] jhob101 opened #86 "[Win7] Could not Save project error on file save or window lose focus in PhpStorm 8"
What steps will reproduce the problem?
1. Open existing project (tested on wordpress project)
2. Save a file or switch to a different window

Window 7 x64

What is the expected result?
Project to be saved, error message not to appear

What happens instead?
Error message appears:
"Could not save project:
java.lang.reflect.InvocationTargetException"

Please provide any additional information below.

[2014-09-17 12:36] iryska commented on #86
the same problem on Win8 x 64
can't work with project :(

[2014-09-18 11:54] iryska commented on #86
found the solution by reinstalling plugin - all work ok

[2014-09-19 14:21] CreativeNative commented on #86
Yep, work's for me also with PHPStorm 8.1 and WIN7.

[2014-09-19 14:23] jhob101 commented on #86
Thanks, that worked for me too!

[2014-09-22 20:22] rherring commented on #82
+1

[2014-09-23 12:15] IAkumaI commented on #74
Still not fixed?

[2014-09-23 12:16] IAkumaI commented on #74
By the way, upload will triggered when press Ctrl+S again

[2014-10-20 07:54] niccottrell opened #87 "Import (inline) off css ignores content completely"
I just switched to using inline css, like `@import (inline) 'flags16.css';` but the contents of the CSS are just ignored and instead `[object Object]` appears in the output css file

[2014-10-25 02:11] Dragonrun1 commented on #76
It seems to work once than I start getting this error as well both with automatic and manual compiling.
Here's a copy of part of the log.
http://pastebin.com/v7VEuCjm
The only time it worked was when I completely replaced the less file contents but when I tried it again by replacing with the old content it ignored it again plus when I get tried making a change to the file.

Got some stuff about fi

[2014-11-06 09:19] quberok commented on #47
i have this problem too

[2014-11-06 10:05] quberok commented on #76
I have same problem

[2014-12-08 10:07] likerRr opened #88 "Source map support"
Could you please add possibility to generate source map for .less file? It's helpful when debugging in browser's dev console
http://stackoverflow.com/questions/20979732/compile-less-files-with-source-maps

[2014-12-30 16:44] addsimm commented on #76
This is a great plugin!

But I have the same problem

[2015-01-05 17:05] mountainpaul commented on #76
I have the same problem. I'm running PyCharm 4.0.3 on a Mac.

[2015-01-24 04:30] frogydiak commented on #47
Have anyone fix this issue? I'm having this issue now that I upgraded to the latest version of PhpStorm 8.0.2 Build #PS-139.72. :( Is there a way to downgrade? It was just working fine lastweek.

I have this in the log:

2015-01-23 20:23:58,173 [ 102176]  ERROR - penapi.actionSystem.impl.Utils - PhpStorm 8.0.2  Build #PS-139.732
2015-01-23 20:23:58,173 [ 102176]  ERROR - penapi.actionSystem.impl.U

[2015-02-09 13:32] tonypartridge commented on #47
I have the same problem on mac.... I thought Im was being stupid... but clearly not :-(

[2015-02-18 13:14] bluemoehre commented on #46
I saw the same. But for me this is additionally a wrong usage of the escape function. As documentation says, you have to pass `string`:

[2015-02-18 13:21] bluemoehre opened #89 "Compression breaks CSS"
I noticed when enabling "Compress CSS output" all calc-statements are broken.
E.g.:
`width: ~'calc(100% + @{gridSpace})';` becomes
`width:calc(100%+20px);` which - for some reason - is no more a valid value.
At least Chrome and Firefox expect to keep whitespaces between operators and operands, so expected result must be:
`width:calc(100% + 20px);`

[2015-02-20 15:06] tenfourzero opened #90 "Parent @import LESS Requires Double-Quotes"
Been wracking my brains wondering why the plug-in would return the "file.less was modified, but didn't change any CSS files" error when entering the parent less file (with the @import calls) in the "Include Files By Path" field.

Turns out this file MUST use double-quotes and not single-quotes. For example, this would fail:

[code]

... while this would work ...

[code]

Hope this can be fixed to

[2015-02-20 16:28] jamiebeech opened #91 "Consent LESS CSS Compiler Error"
I'm started working on an existing project with several developers and they are having no issues compiling the LESS or seeing any errors, yet everytime I seem to make an amendment to a file it throws a different LESS CSS Compiler Error usually saying something is undefined when it is not.
For example:

[code]

![screen shot 2015-02-20 at 16 26 49](https://cloud.githubusercontent.com/assets/5319622

[2015-02-20 16:39] jamiebeech commented on #91
I'm running PHPStorm 8.0.3, using version 2.6.9 of the LESS CSS Compiler on OSX if that is any help.

[2015-02-21 15:04] gfazioli commented on #67
Hi there,
me too, same issue with _space_ in folder:

`LESS CSS Compiler Error: wpdk-table.less: org.mozilla.javascript.UniqueTag@33ada31e: NOT_FOUND Error: java.io.IOException: No such file file:/Users/giovambattistafazioli/Lavori/Giovambattista%20Fazioli/GIT%20e%20Subversion/GitHub%20wpXtreme/wpdk/assets/less/assets/less/wpdk-variables.less (line -1, column -1)`

It's very hard rename all foldes

[2015-03-04 04:55] alph486 opened #92 "Feature Request: Rename Output File"
Let me know if i missed something, but if it doesn't exist in some form it would be nice to have ability to rename the compiled output files. If I compile mycss.less and i get mycss.css (minified), it would be nice to be able to configure the name such that: mycss.less compiles to mycss.min.css.

Use case is I have many files using that convention and I would like them overwritten instead of chang

[2015-03-10 16:08] elartix commented on #67
Hi there, anyone know how i could to fix this issue?

[2015-03-11 07:34] JasonSuave commented on #67
Haven't tried this out yet but you could try creating a symlink or alias to the directory that has the spaces in them.

[2015-03-11 08:36] gfazioli commented on #67
Yes, I have tried! But doesn't work :(

[2015-03-31 14:50] oliviermattei commented on #87
I've noticed the same problem.

[2015-04-22 15:13] bluemoehre commented on #89
There was a bug in yuicompressor, which I fixed (https://github.com/yui/yuicompressor/commit/98341febb4eb3a7f047de4bab0e1902c43056234). Can someone upgrade this plugin to use the newer version?

[2015-04-27 10:55] icodealone commented on #90
Thanks. Just wasted a couple of hours chasing this one down.

[2015-04-27 11:02] tenfourzero commented on #90
You're welcome.

I would fork & pull request it but I can't see where to update this.

[2015-04-29 16:10] istvanpuskas commented on #55
Hi,

I have a similar issue (phpstorm 8.0.3, plug-in version 2.6.9). I'm trying to compile style.less. First few lines of the file:

[code]

mixin.less

[code]

Error message:

[2015-04-30 08:06] smidhonza commented on #83
same issue in IntelliJ Idea 14.1.2

[2015-06-08 19:45] #44 closed

[2015-06-10 09:32] HerbertoHanso commented on #83
Got this issue too

[2015-07-20 05:42] lazurey commented on #55
Hi @istvanpuskas
I met the same error when I try to define a variable in vars.less

[code]

and use in main.less

[code]

I get the variable undefined error for `@path`, but any other variable, such as `@colorBase`, I defined in vars.less, I can use them in normal CSS code.

Any solutions for this?

Thanks,

[2015-07-30 22:53] jacobg commented on #47
Same problem on Mac using PyCharm.

[2015-08-17 06:40] nitinsurana opened #93 "Multiple processes and very slow as compared to "lessc""
It creates multiple processes and they are very slow, as compared to the speed of "lessc" for the same file.

http://screencast.com/t/HghSV8kB

[2015-09-18 13:19] dsozzi commented on #55
+1

same error as above. Webstorm on Mac

[2015-09-21 02:36] lazurey commented on #55
@kiwi1342 Maybe check your less version.

I solved it by upgrade less from 1.x to 2.x, and everything is good now.

[2015-09-21 07:26] ljorgensen4 commented on #55
Hi all.
Have a weird issue in IntelliJ 14 Ultimate Edition with "LESS CSS Compiler" version 2.6.9.
I have a "main" less files that imports a number of less files. One of these files contains a definition of all variables.
When changing a less file that contains a variable the console outputs this:
"Process finished with exit code 1"
The status line however shows the compilation process and produce

[2015-09-21 07:36] dsozzi commented on #55
@lazurey thx but I already have version 2.5.1 :(

[2015-09-22 17:11] PechenTreski commented on #88
Let me also vote for this!
btw it would be nice if .map files were hidden (as css files now) in the Project view unless I press a triangle (that is left to a file) to expand the compiled contents of a LESS-file

[2015-09-26 14:13] pixsrv opened #94 "multiple processes of the same less file"
looks like plugin creates as many processes as profiles are there

all my profiles are created fo specific selection of files
these selections don't overlap themselfs

but what is the most strange
that when i run plugin on file which is not a part of any selection then it kills plugin
in fact plugin runs out of memory :(

i raised an issue on intellij (webstorm) but they instructed me to raise it

[2015-09-30 09:33] PalimPalim commented on #83
What can we do?

[2015-10-12 07:02] amatecha commented on #67
Yeah, got the same issue…  Guess I'll move my project into a folder with no spaces... weaksauce

To @acdvorak, my guess is the problem is some of the url-escape stuff in
`/lessc-plugin/src/net/andydvorak/intellij/lessc/fs/LessFile.java`

[2015-10-19 06:56] nitinsurana commented on #94
Same here... I do a checkout of another branch and boom, there are 130+ processes running in my intellijIdea showing compiling the .less files to .css and most are repeated more than once.

[2015-10-19 06:56] nitinsurana commented on #93
Any update ? Is this not under active development ?

[2015-10-19 06:57] nitinsurana commented on #77
+1

[2015-10-19 07:03] pixsrv commented on #77
i know it's not good place to dispute such thing or to promote anything
but having the same issue(s) i couldn't wait more
and i step aside to gulp task and i'm happy with it

sorry acdvorak and MuppetGate :(

[2015-10-19 07:04] nitinsurana commented on #77
@pixsrv I'm a java/spring developer, can you please post your gulp configuration on how to achieve it.

[2015-10-19 07:13] pixsrv commented on #77
well nothing special really
install gulp and gulp-less
and write smth like this

var gulp = require('gulp');
var less = require('gulp-less');

var srcLess = [
//    here go your less files if you want to specify them one by one
];
var dstCss = 'css/';

gulp.task('less2css', function () {
    return gulp.src(srcLess, {cwd: 'less/'})
               .pipe(less())
               .pipe(gulp.dest(dstCss

[2015-10-19 16:42] bqchristie opened #95 "Output to directory one level below source *.less file."
This plugin works really well but I can't seem to get it to work with the project structure I currently have.    The way we have things structured the less files are in a less folder within the css directory.   These less folders can be anywhere in the css folder.

css
-\feature1
--styles1.css
--\less
---styles1.less

-\feature2
--styles2.css
--\less
---styles2.less

--\feature2.1
---styles2.1.css

[2015-11-13 12:39] hunnicutt commented on #82
+1

[2015-11-26 07:55] rolandtoth commented on #82
+1

[2015-12-02 19:27] norbert-gaulia commented on #76
Project is no more maintained and for those who have this error consistently i suggest going this route:
https://www.jetbrains.com/idea/help/transpiling-sass-less-and-scss-to-css.html#d669456e218

[2016-01-07 09:48] zagabona commented on #55
Having the same errors as mentionned in the OP.
- MacOSX 10.11.1 (El Capitan)
- PHPStorm 10.0.2
- Less CSS Compiler 2.6.9

When I only set the path to the file wilh all @import-lines in the field "Include files by path", the error is gone, but it would no longer compile the css to its proper css-folder (as configured). "Track only root files" is enabled in the settings of the File Watcher.

I do t

[2016-01-07 10:45] cptstarling opened #96 "Files compiled twice (and displayed as sublevel)"
Everytime a .less is modified, the file would be directly added in the less-folder (shown on a sublevel), eventhough an output folder ("css") has been specified in the Less profile.
As a result the less file is being compiled twice: in the proper output folder (minified as configured), and in the less folder itself, displayed below the less file with a collapsible arrow. This way the less folder c

[2016-03-10 07:42] Asken opened #97 "Quite old less compiler"
The less compiler version 1.6 is pretty old for this plugin. Can you please upgrade?

[2016-04-04 10:26] bluemoehre commented on #94
Same problem here... starts getting really painful when you add more and more components/modules and then switch the branch. It blocks the work for minutes.

[2016-04-04 11:17] nitinsurana commented on #94
@bluemoehre I resorted to using a gulp watch task, instead of the plugin.

[code]

[2016-04-05 06:56] pixsrv commented on #94
i use this method and it transpils my less files in 5 to 7 secs
when i was using intellij-lessc-plugin it was 3 to 12 minutes!
so unfortunately i abandon intellij-lessc-plugin at all :(

[2016-04-17 15:14] bluemoehre commented on #94
I tried also using Gulp now. Took some minutes to figure out how it works, but it is a lot faster and without any bugs so far.

[2016-04-21 05:42] roni-frantchi commented on #95
Same issue for me.
Trying to have the .css reside right next to the .less file, but couldn't find a way to define relative output dir.

[2016-05-02 18:51] VRspace4 commented on #56
Any updates on this?

[2016-05-03 06:05] larry-tx commented on #97
That is so true. I just downloaded the less version of the most current Bootstrap and attempted to compile it with PhpStorm 2016.1. I ended up with an almost endless stream of errors that I had to click, one at a time, because it wasn't anywhere near current.

[2016-06-11 17:00] sl1331 opened #98 "Refreshing the directory after compile"
Not sure how this currently works, but my use-case is to compile my less files into a CSS output file. I then want to have a file watcher set up on this output file so when it changes (gets compiled), it will launch a secondary file watcher program I have which combines this output file with other css files I have in other directories to create a single combined final file (e.g. Application.css).

[2016-07-29 14:34] chazsolo opened #99 "Poor indentation on nested mixin properties"
Example:

mixins.less
[code]

file.less
[code]

Problem:

When writing properties/values within the mobile mixin (e.g. where `padding: 10px;` is) the cursor is always placed on the same indentation line as the `.mobile` rule when entering a new line instead of the declared code style setting.

This seems to only happen on mixins that have this format of passing rules through an object. Also, using

[2016-08-25 09:31] ondraondra81 opened #100 "LESS CSS Compiler Error"
I keep getting this error
Parse Error: Unrecognised input (line 2, column 26) near
			.keyframes(@name; @arguments) {
			@-moz-keyframes @name { @arguments(); }
			@-webkit-keyframes @name { @arguments(); }

code:
[code]
and use
[code]
WinLess compile this OK

[2017-01-07 22:30] vetalil18 opened #101 "Help, Grunt"
When i make grunt less i get:
[code]

[2017-02-16 05:25] dankron opened #102 "LESS CSS Compiler Error"
I keep getting this randomly for some reason

LESS CSS Compiler Error
custom_site.less: Syntax Error: Cannot read property "length" from undefined (line -1, column -1) near

It doesn't make any sense, i add an extra line just to modify the file and save again and the error doesn't show up, about 4 in every 10 saves it's goes through ok and the other 6x i have to add or remove an empty line to be a

[2017-02-20 20:49] thiagocanudo commented on #55
This happen if you paste the variables names. You need write variables names.
Writing the variables names resolved my problem...

[2017-05-23 18:18] gauravarora20 commented on #102
Hi @dankron Were you able to resolve this error? I have the same issue and it just doesn't makes any sense.

[2017-05-23 21:40] dankron commented on #102
No mate, still have the issue but I've discovered if you restart phpstorm the problem goes away for a while, then comes back only another restart fixes

[2017-05-24 13:20] gauravarora20 commented on #102
Thanks for the quick reply mate. I found a workaround, which may have its own cons, but works for now. I degraded my version from 2.6.9 to 2.6.8.

[2017-06-12 07:08] kylekatarnls opened #103 "Tilde interpretation"
Hi,

With webpack, you can use imports like this in less files:
[code]
This allow to get `foobar.less` from any webpack root (such as node_modules or any directory we set as resolve.module.

Currently this syntax is underline in red by Webstorm, but if I do:

[code]
Webstorm find the file, well handle variables and so on but webpack can't start.

Would be great if Wbestorm could consider starting

[2017-08-17 13:00] Dechorgnat commented on #47
same issue here (phpstorm 2017.2, last version of plugin)

[2018-01-23 07:20] jcchrrr commented on #55
@thiagocanudo tips works for me in VsCode
**Thx**

[2018-04-02 15:13] Alvaten opened #104 "Unable to add less profiles with IntelliJ 2018"
We are not able to manage LESS profiles since the update of my IntelliJ in 2018.1

The button "new" is missing ! If my project already contain a profile, the plugin continue to works, but in all new project, we are not table to compile de less.

The issue happens for all people wo update the application in my company.

![less compiler issue](https://user-images.githubusercontent.com/38009687/38201

[2018-04-05 13:04] remitmaster commented on #104
Yes, the problem exists, will there be any improvement?

[2018-04-05 13:28] remitmaster commented on #104
Temporary solution .idea .idea/lessc/lessc.xml add

[code]

[2018-08-08 14:40] Grafs commented on #104
Not work solution. Not show +

[2018-10-09 15:59] theCanadianHat commented on #104
I tried the solution @remitmaster suggested. Since there was little direction I viewed my workspace's .idea folder. There was not a lessc folder, but there were folders for other plug-ins in that folder. So I created a folder for lessc and an XML file for the snippet above. I was unable to see the "+" button on the Less Profile option in the preferences. @remitmaster could you expand on the tempor

[2018-11-11 11:54] pcornelissen commented on #104
I know this plugin is open source and we have no right to demand support, but any answer would be good, if you don't have time to maintain the plugin, please state so, maybe this will encourage someone else to pick it up.

[2018-11-20 06:34] kroleternal commented on #104
join the question

[2019-04-18 08:15] farnott commented on #104
I figured it out! I'm on version 2019.1 of PhpStorm.

The problem only occurs when creating a new project, so I opened the .idea folder of an older project that was working fine with the LESS plugin and copied the lessc folder and pasted it into the .idea folder of my new project. Closed the project in PhpStorm and then reopened it and the Less profile was there - it just needed the profile name,

[2019-06-17 12:26] arifhussain353 commented on #104
@remitmaster solution worked for me. As he mentioned. You must add your folder (project directory )  to `<option name="name" value="{ -- name --}" />` this part.
After this, you can change the path in settings. But still, you will not be able to see the '+' button.

EDIT:
If you don't have `lessc` folder then create a folder and create a file inside named `lessc.xml`.